<div class="panel panel-default">
        <div class="panel-body">
    
            <form method="POST" action="change_password.php">
                <input type="text" name="antiga" id="senhaAntiga" class="form-control" placeholder = "Senha antiga" maxlength = "140">
                <br>
                <input type="text" name="altera" id="senhaNova" class="form-control" placeholder = "Nova Senha" maxlength = "140">
                <br>
                <input type="text" name="altera" id="senhaNova2" class="form-control" placeholder = "Confirme Nova Senha" maxlength = "140">
                <br>
                <input type="submit" class="btn btn-primary pull-right"  value="Salvar">
            </form>
        </div>
    </div>
    
    